.banner {
    height: 50px;
    margin: 10px -10px 10px;
    background-color: rgba(44, 130, 201, 1);
    border-radius: 5px;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}